
<head><link rel="stylesheet" href="/stylesheets/style.css"></head>

<header>
  <nav>
      <a href="/">Inicio</a>
      <a href="/hospital/newhospital">Nuevo Hospital</a>
      <a href="https://www.linkedin.com/in/ivandiaz-sanchez/"
      target="_blank"
      rel="noopener noreferrer"
      >Contacto</a>
  </nav>
  <section class="textos-header">
      <h1>HOSPITALES SEVILLA</h1>
      <h2>Por una salud accesible</h2>
  </section>
  
</header>